%h1= @gem.name
%div.info
  %label= link_to 'Homepage', @gem.homepage
  %label= link_to 'Fedora Rpm', fedorarpm_path(@gem.fedora_rpm.id) if @gem.fedora_rpm != nil
  %label= "Wantedness: #{@gem.wantedness}%"
  %label= "Version: #{@gem.version}"
  %label= "Description:"
  %label= @gem.description.blank? ? "#{@gem.name} does not have a description yet" : @gem.description

= render :partial => 'gemcomments/comments'
= render :partial => 'gemcomments/new_comment'