%h1= @gem.name

- unless @gem.fedora_rpm.nil?
  = button_to "#{@gem.fedora_rpm.name}.rpm", fedorarpm_path(@gem.fedora_rpm.name),
  :class => 'button btn btn-primary', :type => 'button', :method => :get

%div.info
  %h3 Gem Information
  %p
    Homepage:
    =link_to @gem.homepage, @gem.homepage
  %p
    Source Code:
    =link_to @gem.source_uri, @gem.source_uri
  %p
    Version: <strong>#{@gem.version}</strong>
  %p
    Total Downloads: #{number_with_delimiter(@gem.downloads)}
  %p
    Description:
  %p
    =@gem.description_string

  - unless @dependencies.blank?
    %h3 Depends on:
    %table.table.table-striped.table-condensed.table-bordered.dependency
      %thead
        %tr
          %th Package
          %th Gem Version
          - FedoraRpm::FEDORA_VERSIONS.each do |t, g|
            %th= t
      %tbody
        - @dependencies.each do |d|
          %tr
            %td= link_to d.name, rubygem_path(d.name)
            %td= d.version
            - FedoraRpm::FEDORA_VERSIONS.each do |t, g|
              %td= d.fedora_rpm.version_for(t)
