%h2
  = _('RubyGems -> RPMs')
-if @errors
  - @errors.each do |e|
    .error
      = e.to_s
- if @gem
  -if @version
    = link_to "#{@gem.name} #{@version}", @gem.uri_for_version(@version)
    = link_to _('Back'), :controller => :builds, :action => :import
    %br
    - @packages.each do |p|
      - if @packages.size > 1 && p == @packages[1]
        _('Dependencies:')
        %br
      Spec File:
      = link_to p[:spec_name], p[:spec_path]
      //= "#{p[:rpms].join(' / ')}"
      %br
    %form{:method => :post, :action => :import}
      %input{:type => :hidden, :id => 'gem', :value => @gem.name}
      %input{:type => :hidden, :id => 'version', :value => @version}
      %input{:type => :button, :value => _('build with koji'), :disabled => "true"}

  -else
    = _('Select verison of gem %{gem_name} to import') % { :gem_name => @gem.name}
    = link_to _('Back'), :controller => :builds, :action => :import
    %form{:method => :post, :action => :import}
      %input{:type => :hidden, :name => 'gem', :value => @gem.name}
      = select_tag :version, options_for_select(@versions.map { |v| [v, v] })
      %input{:type => :submit, :value => _('Next')}

-else
  = _('Name of Gem to Import:')
  %form{:method => :post, :action => :import}
    %input{:type => :text, :id => 'gem', :name => 'gem'}
    %input{:type => :submit, :value => _('Next')}
