%div.page-header
  %h1 Is It Fedora Ruby
  %h2
    = _('*new* <a href=/stats/gemfile_tool>compare</a> your Gemfile against Fedora').html_safe

%div.row
  %div.col-md-6
    = render partial: 'stats/most_popular_gems'
  %div.col-md-6
    = render partial: 'stats/most_popular_rpms'
  %div.col-md-6
    = render partial: 'stats/latest_updated_gems'
  %div.col-md-6
    = render partial: 'stats/latest_updated_rpms'
