.d3_chart_container
  %h1= link_to(@rpm.name, fedorarpm_path(@rpm.name))
  %h2= _('Dependent Packages:')
  #dependent_chart

.d3_chart_container
  %h2= _("Dependencies:")
  #dependency_chart

:javascript
  function load_chart(json_url, div_id, width, height, invert){
    var tree1 = d3.layout.tree().size([width, height]);
                   //.separation(function(a, b) { return (a.parent == b.parent ? 1 : 2) / a.depth; });

    var diagonal = d3.svg.diagonal().
                      projection(function(d) { return [d.x, d.y]; });

    var translate = invert ? "rotate(180) translate(-"+width+",-"+(height+10)+")" :
                             "translate(0,10)";
    var t1 = d3.select(div_id).append("svg")
                 .attr("width", width).attr("height", height+80)
                 .append("g")
                 .attr("transform", translate);

    d3.json(json_url, function(json) {
      var nodes = tree1.nodes(json);

      var link = t1.selectAll("path.link")
                   .data(tree1.links(nodes))
                   .enter().append("path")
                   .attr("class", "link")
                   .attr("d", diagonal);

      var rotate = invert ? 230 : 30;
      var node = t1.selectAll("g.node")
                    .data(nodes)
                    .enter().append("g")
                    .attr("class", "node")
                    .attr("transform", function(d) { return "translate(" + d.x + ", " + d.y + ") rotate("+rotate+")"; })

      node.append("circle").attr("r", 4.5);

      node.append("text")
          .attr("dx", function(d) { return d.children ? 8 : -8; })
          .attr("dy", ".73em")
          .attr("text-anchor", function(d) { return d.children ? "start" : "end"; })
          .on("click", function(d, i) { window.location = '/fedorarpms/rubygem-' + d.name; })
          .on("mouseover", function() { document.body.style.cursor = 'pointer'; })
          .on("mouseout", function() { document.body.style.cursor = 'default'; })
          .text(function(d) { return d.name; });
    });
  }

  load_chart("/fedorarpms/#{@name}/full_dependencies.json", "#dependency_chart", 800, 900, false);
  load_chart("/fedorarpms/#{@name}/full_dependents.json",   "#dependent_chart", 800, 1200, true);
