%div.page-header
  %h1= @page_title

%table.table.table-striped.table-condensed.table-bordered
  %thead
    %tr
      %th= sortable 'name', _('Name')
      - FedoraRpm.fedora_versions.each do |t, g|
        %th= t
      %th= _('Up to date?')
      %th= sortable 'commits', _('Commits')
      %th= sortable 'last_commit_date', _('Last Commit')
      %th= _('Patched?')
      %th= sortable 'fedora_user', _('Maintainer')

  %tbody
    - @rpms.each do |rpm|
      %tr
        %td= link_to rpm.shortname.truncate(35), fedorarpm_path(rpm.name)
        -FedoraRpm.fedora_versions.each do |t, g|
          %td= rpm.version_for(t)
        %td
          - if rpm.up_to_date?
            %span.glyphicon.glyphicon-ok
        %td= rpm.commits
        %td= rpm.last_commit_date_in_words
        %td
          - if rpm.patched?
            %span.glyphicon.glyphicon-ok
        %td
          - unless rpm.maintainer.nil?
            =link_to rpm.maintainer, fedorarpm_path(rpm.maintainer + '/by_owner')

%div.pagination
  = will_paginate @rpms
