%h1 All Fedora Rpms

%table.table.table-striped.table-condensed
  %thead
    %tr
      %th Name
      %th Versions
      %th Up to date?
      %th Gem

  %tbody
    - @rpms.each do |rpm|
      %tr
        %td= link_to rpm.name, fedorarpm_path(rpm.id)
        %td= rpm.versions
        %td= rpm.upto_date? ? 'Yes' : 'No'
        %td= link_to "#{rpm.ruby_gem.name} #{rpm.ruby_gem.version}", rubygem_path(rpm.ruby_gem.id) if rpm.ruby_gem != nil

%div.pagination
  = will_paginate @rpms
