%div.page-header
  %h1= _('All Fedora Rpms')

%table.table.table-striped.table-condensed
  %thead
    %tr
      %th= sortable "name", _('Name')
      -FedoraRpm::FEDORA_VERSIONS.each do |t, g|
        %th= t
      %th= _('Up to date?')
      %th= sortable "commits", _('Git Commits')
      %th= sortable "last_commit_date", _('Last Commit')
      %th= _('Upstream Source Patched?')
      %th= sortable "fedora_user", _('Maintainer')

  %tbody
    - @rpms.each do |rpm|
      %tr
        %td= link_to rpm.name, fedorarpm_path(rpm.name)
        -FedoraRpm::FEDORA_VERSIONS.each do |t, g|
          %td= rpm.version_for(t)
        %td= rpm.upto_date? ? _('Yes') : _('No')
        %td= rpm.commits
        %td= rpm.last_commit_date.nil? ? '' : _('%{time_ago} ago') % { :time_ago => time_ago_in_words(rpm.last_commit_date)}
        %td= rpm.patched? ?  link_to(image_tag("True.svg.med.png", :size => "15x20")) : link_to(image_tag("False.svg.med.png", :size => "15x20"))
        / %td= link_to rpm.ruby_gem.name, rubygem_path(rpm.ruby_gem.name) if rpm.ruby_gem != nil
        - if rpm.fedora_user && rpm.fedora_user.split("@").first != nil
          %td= link_to rpm.obfuscated_fedora_user, fedorarpm_path(rpm.fedora_user.split("@").first + "/by_owner")
        - else
          %td= ""
        

%div.pagination
  = will_paginate @rpms
