%h1= @rpm.name
%div.info
  %label= link_to 'Homepage', @rpm.homepage
  %label= link_to 'RubyGem', rubygem_path(@rpm.ruby_gem.id), :method => :get
  %label= "Hotness: #{@rpm.hotness}%"
  %label= "Versions: #{@rpm.versions}"
  %label= "Up to date: #{@rpm.upto_date? ? 'Yes' : 'No'}"

= render :partial => 'rpmcomments/comments'
= render :partial => 'rpmcomments/new_comment'