%h2= @rpm.name
%p= link_to 'Homepage', @rpm.homepage
%p Description
/%p= "#{@rpm.description}"

%p
  = link_to "Back to rpm list", fedorarpms_path, :method => :all
  = link_to "Back to gem list", rubygems_path, :method => :all