%h1= @rpm.name
%div.info
  %label= link_to 'Homepage URI', @rpm.homepage if @rpm.homepage != nil
  %label= link_to 'Source Code URI', @rpm.source_uri if @rpm.source_uri != nil
  %label= link_to 'Dependency Tree', :controller => 'fedorarpms', :action => 'full_deps'
  - if @rpm.ruby_gem != nil
    %span.label.label-info= link_to 'RubyGem', rubygem_path(@rpm.ruby_gem.name)
  %label= "Hotness: #{@rpm.hotness}%"
  %label
    = "Up to date: "
    - if @rpm.upto_date?
      %span.label.label-success= 'Yes'
    - else
      %span.label.label-important= 'No'
  %p Maintainer: #{link_to @rpm.obfuscated_fedora_user, fedorarpm_path(@rpm.fedora_user.split("@").first + "/by_owner") if @rpm.fedora_user != nil}
  %label= "Versions: #{@rpm.versions}"
  %label= "Git Commits: #{@rpm.commits}"
  %label= "Depends on:"

  %table.table.table-striped.table-condensed.dependency
    %thead
      %tr
        %th Package
        -FedoraRpm::FEDORA_VERSIONS.each do |t, g|
          %th= t
        %th Gem Version
    %tbody
      - @dependencies.each do |d|
        %tr
          %td= link_to d.name, fedorarpm_path(d.name)
          -FedoraRpm::FEDORA_VERSIONS.each do |t, g|
            %td= d.version_for(t)
          %td= d.ruby_gem.version

  %label= "Bugs:"
  %table.table.table-striped.table-condensed.dependency
    %thead
      %tr
        %th BZ
        %th Title
        %th Review?
    %tbody
      - @rpm.bugs.each do |b|
        %tr
          %td
            = link_to b.bz_id, b.url
          %td
            = b.name
          %td
            = b.is_review

  %label= "Builds:"
  %table.table.table-striped.table-condensed.dependency
    %thead
      %tr
        %th Build ID
        %th Title
    %tbody
      - @rpm.builds.each do |b|
        %tr
          %td
            = link_to b.build_id, b.build_url
          %td
            = b.name

= render :partial => 'rpmcomments/comments'
= render :partial => 'rpmcomments/new_comment'
