%div.comments
  %h3= _('Comments')
  - @rpm.rpm_comments.each do |comment|
    %div.well
      %label= _('Name: %{comment_name}') % { :comment_name => comment.name}
      %label= _('Email: %{comment_email}') % { :comment_email => comment.email}
      - if comment.works_for_me
        %div.alert.alert-success= comment.description
      - else
        %div.alert.alert-error= comment.description
      %label= _('Comment:')
      %div.comments.text #{comment.text}
