%div.comments
  %h3 Comments
  - @rpm.rpm_comments.each do |comment|
    %div.well
      %label Name: #{comment.name}
      %label Email: #{comment.email}
      - if comment.works_for_me then
        %div.alert.alert-success= comment.description
      - else
        %div.alert.alert-error= comment.description
      %label Comment:
      %div.comments.text #{comment.text}