%div.new.comment

  %h3= _('Add new comment')

  - unless flash[:error].nil?
    %div.alert.alert-error= flash[:error]

  = form_for :rpm_comment, :html => {:class => 'well'} do |f|
    = f.label :name, _('Name')
    = f.text_field :name
    = f.label :email, _('Email')
    = f.text_field :email

    = f.label :works_for_me do
      = f.check_box :works_for_me
      = _('It works for me!')
    = f.label :receive_update do
      = f.check_box :receive_update
      = _('Keep me updated!')

    = f.label :text, _('Comment')
    = f.text_area :text

    = recaptcha_tags :display => {:theme => 'white'}

    = f.submit _('Submit'), :class => 'btn btn-primary'
