:javascript
  $('#search_field').val("#{params[:id]}");

%h1 Search Results

- if @results != []
  %table.table.table-striped.table-condensed
    %thead
      %tr
        %th Gem Name
        %th Gem Version
        %th Rpm Name
        %th Rpm Version (Rawhide)

    %tbody
      - @results.each do |gem|
        %tr
          %td= link_to gem.name, rubygem_path(gem.name)
          %td= gem.version
          - if  gem.fedora_rpm != nil
            %td= link_to gem.fedora_rpm.name, fedorarpm_path(gem.fedora_rpm.name)
            %td= gem.fedora_rpm.version_for('Rawhide')
          -else
            %td
            %td
  %div.pagination
    = will_paginate @results
- else
  %h2 Sorry, there were no results when searching for the Ruby Gem "#{params[:id]}"
  %h2 However, did you mean...
  - if @suggests != []
    %table.table.table-striped.table-condensed
      %thead
        %tr
          %th Gem Name
          %th Gem Version
          %th Rpm Name
          %th Rpm Version (Rawhide)

      %tbody
        - @suggests.each do |gem|
          %tr
            %td= link_to gem.name, rubygem_path(gem.name)
            %td= gem.version
            - if  gem.fedora_rpm != nil
              %td= link_to gem.fedora_rpm.name, fedorarpm_path(gem.fedora_rpm.name)
              %td= gem.fedora_rpm.version_for('Rawhide')
            -else
              %td
              %td
