%div.stats.well
  %h2 
    = _('Most wanted gems')
  %table.table.table-striped.table-condensed
    %thead
      %tr
        %th
          = _('Gem')
        %th
          = _('Version')
        %th
          = _('Wanted by')
        %th
          = _('Downloads')
    %tbody
      - @wanted_gems.each do |gem|
        %tr
          %td= link_to gem.name, rubygem_path(gem.name)
          %td= gem.version
          %td= gem.wanted_count
          %td= number_with_delimiter(gem.downloads)
