%div.stats.well
  %h2 
    = @page_most_popular_rpms
  %table.table.table-striped.table-condensed
    %thead
      %tr
        %th
          = @page_rpm
        %th
          = @page_upstream
        %th
          = @page_rawhide
        %th 
          = @page_git_commits
    %tbody
      - @popular_rpms.each do |rpm|
        %tr
          %td= link_to rpm.shortname, fedorarpm_path(rpm.name)
          %td= rpm.ruby_gem.version if rpm.ruby_gem
          %td= rpm.version_for 'rawhide'
          %td= rpm.commits
