%div.stats.well
  %h2 
    = _('Most recent rpms')
  %table.table.table-striped.table-condensed
    %thead
      %tr
        %th
          = _('Rpm')
        %th
          = _('Version')
        %th
          = _('Commits')
        %th
          = _('Updated')
    %tbody
      - @recent_rpms.each do |rpm|
        %tr
          %td= link_to rpm.shortname, fedorarpm_path(rpm.name)
          %td= rpm.version_for 'rawhide'
          %td= rpm.commits
          %td= rpm.last_commit_date.nil? ? '' : _('%{time_ago} ago') % { :time_ago => time_ago_in_words(rpm.last_commit_date)}
