%div.stats.well
  %h2 
    = @page_most_recent_rpms
  %table.table.table-striped.table-condensed
    %thead
      %tr
        %th
          = @page_rpm
        %th
          = @page_version
        %th
          = @page_commits
        %th 
          = @page_updated
    %tbody
      - @recent_rpms.each do |rpm|
        %tr
          %td= link_to rpm.shortname, fedorarpm_path(rpm.name)
          %td= rpm.version_for 'rawhide'
          %td= rpm.commits
          %td= rpm.last_commit_date.nil? ? '' : "#{time_ago_in_words(rpm.last_commit_date)} ago"
