%div.stats.well
  %h2 
    = @page_most_wanted_gems
  %table.table.table-striped.table-condensed
    %thead
      %tr
        %th 
          = @page_gem
        %th 
          = @page_version
        %th 
          = @page_wanted_by
        %th
          = @page_downloads
    %tbody
      - @wanted_gems.each do |gem|
        %tr
          %td= link_to gem.name, rubygem_path(gem.name)
          %td= gem.version
          %td= gem.wanted_count
          %td= number_with_delimiter(gem.downloads)
