%div.stats.well
  %h2 Most recent rpms
  %table.table.table-striped.table-condensed
    %thead
      %tr
        %th Rpm
        %th Version
        %th Commits
        %th Updated
    %tbody
      - @recent_rpms.each do |rpm|
        %tr
          %td= link_to rpm.shortname.truncate(25), fedorarpm_path(rpm.name)
          %td= rpm.version_for 'rawhide'
          %td= rpm.commits
          %td= rpm.last_commit_date.nil? ? '' : "#{time_ago_in_words(rpm.last_commit_date)} ago"
