.d3_chart_container
  %h1= "Bubble Chart:"
  %h2= "This graph shows the packages, which are represented by circles, that the user #{@name} owns."
  %h2= "The size of each circle is proportional to the number of commits for that package."
  #chart

:javascript
  var r = 700
    color = d3.scale.category20c();
  var bubble_layout = d3.layout.pack()
      .sort(null)
      .size([r,r])
      .padding(1.5);

  var vis = d3.select("#chart").append("svg")
      .attr("width" , r)
      .attr("height", r)

  var array = #{@rpms_json}

  arr = [];
  for (i = 0; i < array.length; i++)
  {
    arr[i] = { "name": array[i]["name"].split("rubygem-")[1], "value": array[i]["commits"]}
  }


  var selection = vis.selectAll("g.node")
                .data(bubble_layout.nodes({children: arr}).filter(function(d) { return !d.children; }) ); 
  //Enter
  node = selection.enter().append("g")
                .attr("class", "node")
                .attr("transform", function(d) { return "translate(" + d.x + ", " + d.y + ")"; });
  node.append("circle")
      .attr("r", function(d) { return d.r; })
      .style("fill", function(d) { return color(d.name); });

  node.append("text")
      .on("click", function(d, i) { window.location = '/fedorarpms/rubygem-' + d.name; })
      .on("mouseover", function() { document.body.style.cursor = 'pointer'; })
      .on("mouseout", function() { document.body.style.cursor = 'default'; })
      .attr("text-anchor", "middle")
      .attr("dy", ".3em")
      .style("font-color", "FFF")
      .text(function(d) { return d.name.substring(0, d.r/3);; });