%div.container
  %nav.navbar.navbar-default.navbar-fixed-top{:role => 'navigation'}
    %div.navbar-header
      = link_to 'FedoraRuby', root_path, class: 'navbar-brand'
    %ul.nav.navbar-nav
      %li= link_to _('Home'), root_path
      %li= link_to _('Ruby Gems'), rubygems_path
      %li= link_to _('Fedora Rpms'), fedorarpms_path
      %li= link_to _('Contribute'), contribute_path
      %li= link_to _('About'), about_path
      %li
        = form_tag( { :controller => 'searches', :action => 'redirect' },
        :class => 'navbar-form', :method => 'post') do
          %div.form-group
            = text_field_tag :search, params[:search] ||= '', id: 'search_field',
              class: 'search-query form-control', placeholder: 'Search'
          = submit_tag _('Search'), name: nil, class: 'btn btn-default'
