%header.navbar.navbar-fixed-top
  %div.navbar-inner
    %div.container
      #logo= link_to 'FedoraRuby', root_path
      %nav
        %ul.nav.pull-right
          %li= link_to 'Home', root_path
          %li= link_to 'Ruby Gems', rubygems_path
          %li= link_to 'Fedora Rpms', fedorarpms_path
          %li= link_to 'Success Stories', successes_path
          %li= link_to 'Contribute', contribute_path