%header.navbar.navbar-fixed-top
  %div.navbar-inner
    %div.container
      #logo= link_to 'FedoraRuby', root_path
      %nav
        %ul.nav.pull-right
          %li= link_to 'Home', root_path
          %li= link_to 'Ruby Gems', rubygems_path
          %li= link_to 'Fedora Rpms', fedorarpms_path
          %li= link_to 'Success Stories', successes_path
          %li= link_to 'Contribute', contribute_path
          %li
            = form_tag( { :controller => 'rubygems', :action => 'index' }, :class => 'form-search') do
              = text_field_tag :search, params[:search] ||= '', :id => 'search_field', :class => 'input-medium search-query'
              = submit_tag "Search Gem", :name => nil, :class => 'btn btn-primary'